.gallery-buttons {
  margin-bottom: 50px;
  // display: flex;
  // justify-content: center;

	@media screen and (min-width: 480px){
		display: flex;
		justify-content: center;
	}
}

.gallery__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gallery-text {
  padding: 6px 25px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
  color: $primary-color;
  background: $secondary-bg-color;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
      0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color: $highlighted-color;
    color: $white-color;
  }
}

.gallery-button + .gallery-button {
  margin-left: 8px;
}
