.header-top {
  border-bottom: 1px solid $border-nav-color;
}

.container--centered {
  // display: flex;
  // align-items: center;

	@media screen and (min-width: 480px) {
		display: flex;
		align-items: center;
	}
}

.logo {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  align-self: center;
  display: block;
}
