.header-top {
  border-bottom: 1px solid $border-nav-color;
}

.container--centered {
  padding: 0 15px;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.logo {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  align-self: center;
  display: block;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.2;
  }
}

// .burger-container {
//   display: flex;
//   justify-content: space-between;
// }

.mobile-menu--close {
  display: none;
}

.mobile-menu.is-open .mobile-menu--close {
  display: block;
}

.mobile-menu.is-open .mobile-menu--open {
  display: none;
}
