.preferences__list {
  margin: -15px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.preferences__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
  }

  @media screen and (min-width: 1200px) {
    margin: 15px;
    width: 270px;
  }
}

.preferences__item--margin:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.preferences__item--margin {
  @media screen and (max-width: 767px) {
    margin: 15px;
  }
}

.preferences__container {
  height: 120px;
  background-color: $secondary-bg-color;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.preferences__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.preferences__header--margin {
  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.preferences__text {
  line-height: 1.71;
  color: $secondary-color;
  display: block;
}
