.works {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    padding-top: 0;
  }
}

.works__list {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.works__item {
  // position: relative;
  // width: 370px;

  @media screen and (min-width: 1200px) {
    position: relative;
    width: 370px;
  }

  &:not(:last-child) {
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }
}

.works__picture {
  width: inherit;
}

.works__desc {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $overlay-color;
    height: 70px;
    color: $white-color;
  }
}
