$primary-color: #212121;
$secondary-color: #757575;
$highlighted-color: #2196f3;
$white-color: #ffffff;
$footer-background-color: #2f303a;
$header-background-color: #c4c4c4;
$secondary-bg-color: #f5f4fa;
$icon-color: #afb1b8;
$icon-background-color: rgba(255, 255, 255, 0.1);
$border-nav-color: #ececec;
$overlay-color: rgba(47, 48, 58, 0.8);
$backdrop-color: rgba(0, 0, 0, 0.3);
$placeholder-color: rgba(255, 255, 255, 0.6);

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
